/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: blueviolet;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.btn-primary:hover {
  background-color: rebeccapurple;
  box-shadow: 1px 1px 3px 1px black;
}

.btn-primary:active {
  background-color: rebeccapurple;
}

.btn-primary:focus {
  background-color: rebeccapurple;
}

.post-container {
  margin: 30px 7% 30px 7%;
  display: flex;
  padding: 15px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px;
  flex-direction: column;
  gap: 30px;
}

.post-element {
  display: flex;
  flex-direction: column;
}

.hover-container:hover {
  background-color: lightgray;
  cursor: pointer;
}

.center-items {
  align-items: center
}

.error {
  color: red;
}

.success {
  color: green;
}

.extend {
    width: 100%;
}
