<div>

  <span *ngIf="!user"><em>Loading...</em></span>

  <div *ngIf="user" class="post-container">

    <h4>{{ user.userName }}</h4>
    <h5>Score: {{ user.score }}</h5>

    <h5>{{ user.questions == undefined ? "" : user.questions.length }} Questions</h5>
    <div *ngIf="user.questions">
      <app-questions [questions]="user.questions"></app-questions>
    </div>

    <h5>{{ user.answers == undefined ? "" : user.answers.length }} Answers</h5>
    <div *ngIf="user.answers">
      <app-answers [answers]="user.answers"></app-answers>
    </div>

  </div>

</div>

