<p *ngIf="!question"><em>Loading...</em></p>

<div *ngIf="question" class="post-container">

  <div class="flex-container">

    <app-votes [votes]="question.voteCount"></app-votes>

    <div class="details">
      <h3>{{ question.title }}</h3>
      <p>{{ question.text }}</p>
      <app-tags [tags]="question.tags"></app-tags>
      <hr/>
      <div class="flex-container">
        <span class="author">{{ question.author == undefined ? "" : question.author.userName }}</span>
        <span class="author score">{{ question.author == undefined ? "" : question.author.score }}</span>
        <span class="author">asked on {{ question.creationDate | date: 'dd-MM-yyyy' }}</span>
      </div>
      <br/>
      <h4>{{ question.answers == undefined ? "" : question.answers.length }} Answers</h4>
      <div *ngIf="question.answers">
        <app-answers [answers]="question.answers"></app-answers>
      </div>
    </div>

  </div>

  <hr/>

  <div class="post-container">

    <h5>Your Answer</h5>

    <div class="post-element">
      <textarea></textarea>
    </div>

    <div>
      <button class="btn-primary" style="padding: 5px 20px">Post</button>
    </div>

  </div>

</div>
