.flex-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.question {
  border-style: dashed;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: blueviolet;
}

.author {
  font-size: 80%;
}

.score {
  font-weight: bold;
}

.votes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}

.triangle:hover {
  opacity: 1;
  filter: invert(17%) sepia(90%) saturate(7455%) hue-rotate(358deg) brightness(103%) contrast(113%);
  cursor: pointer;
}

.reverse {
  transform: rotate(-180deg);
}

.reverse:hover {
  filter: invert(55%) sepia(55%) saturate(2686%) hue-rotate(84deg) brightness(113%) contrast(130%);
}

.details {
    width: 100%;
}
