<div>

  <div class="post-container">

    <h5>Ask Question</h5>

    <div class="post-element">
      <h6>Title</h6>
      <input #title type="text">
    </div>

    <div class="post-element">
      <h6>Body</h6>
      <textarea #text></textarea>
    </div>

    <div class="post-element">
      <h6>Tags</h6>
      <input #tags (input)="setTags()" type="text">
      <app-tags [tags]="questionTags"></app-tags>
    </div>

    <div>
      <button class="btn-primary" style="padding: 5px 20px" (click)="createQuestion()">Post</button>
    </div>

  </div>

</div>
