<div *ngFor="let answer of answers" class="post-container hover-container" (click)="redirectToQuestion(answer.questionId)">
  <div class="flex-container">
    <app-votes [votes]="answer.voteCount"></app-votes>
    <div class="details">
      <p>{{ answer.text }}</p>
      <hr/>
      <div class="flex-container">
        <span class="author">{{ answer.author == undefined ? "" : answer.author.userName }}</span>
        <span class="author score">{{ answer.author == undefined ? "" : answer.author.score }}</span>
        <span class="author">answered on {{ answer.creationDate | date: 'dd-MM-yyyy' }}</span>
      </div>
    </div>
  </div>
</div>
